body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card__row {
  margin: 0.7em 0;
}

.category__dropdown {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.7em;
}

.up__down__arrow button {
  border: none;
  background: none;
}

.quantity__input {
  align-items: center;
}

.spinner__loading,
.error__message {
  display: flex;
  width: 100%;
  height: 70vh;
  justify-content: center;
  align-items: center;
}
